.page {
  margin: 0;

  height: 100%;
  width: 100%;

  --header-primary: #fff;
  --header-secondary: #b9bbbe;
  --text-normal: #dcddde;
  --text-muted: #72767d;
  --text-link: #00b0f4;
  --text-positive: #4fdc7b;
  --interactive-normal: #b9bbbe;
  --interactive-hover: #dcddde;
  --interactive-active: #fff;
  --interactive-muted: #4f545c;
  --background-primary: #36393f;
  --background-secondary: #2f3136;
  --background-secondary-alt: #292b2f;
  --background-tertiary: #202225;
  --background-accent: #4f545c;
  --background-floating: #18191c;
  --background-mobile-primary: #36393f;
  --background-mobile-secondary: #2f3136;
  --background-modifier-hover: rgba(79,84,92,0.16);
  --background-modifier-active: rgba(79,84,92,0.24);
  --background-modifier-selected: rgba(79,84,92,0.32);
  --background-modifier-accent: hsla(0,0%,100%,0.06);
  --info-positive-text: #fff;
  --info-warning-text: #fff;
  --info-danger-text: #fff;
  --info-help-background: rgba(0,176,244,0.1);
  --info-help-foreground: #00b0f4;
  --info-help-text: #fff;
  --status-warning-text: #000;
  --scrollbar-thin-thumb: #202225;
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #202225;
  --scrollbar-auto-track: #2e3338;
  --scrollbar-auto-scrollbar-color-thumb: #202225;
  --scrollbar-auto-scrollbar-color-track: #2f3136;
  --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
  --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
  --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
  --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
  --logo-primary: #fff;
  --control-brand-foreground: #a5b3e7;
  --background-mentioned: rgba(250,166,26,0.1);
  --background-mentioned-hover: rgba(250,166,26,0.08);
  --background-message-hover: rgba(4,4,5,0.07);
  --channels-default: #8e9297;
  --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  --channeltextarea-background: #40444b;
  --activity-card-background: #202225;
  --textbox-markdown-syntax: #8e9297;
  --deprecated-card-bg: rgba(32,34,37,0.6);
  --deprecated-card-editable-bg: rgba(32,34,37,0.3);
  --deprecated-store-bg: #36393f;
  --deprecated-quickswitcher-input-background: #72767d;
  --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
  --deprecated-text-input-bg: rgba(0,0,0,0.1);
  --deprecated-text-input-border: rgba(0,0,0,0.3);
  --deprecated-text-input-border-hover: #040405;
  --deprecated-text-input-border-disabled: #202225;
  --deprecated-text-input-prefix: #dcddde;
}

.client {
  background-color: var(--background-color);

  height: 100%;
  width: 100%;

  min-width: 100vw;
  min-height: 100vh;
}

.context {
  height: 100%;
  width: 100%;

  min-height: 100vh;

  display: flex;
  flex-direction: row;
}

.navigationSideBar {
  width: auto;

  background-color: var(--background-tertiary);

  position: relative;
  width: 72px;
  flex-shrink: 0;

  padding: 11px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.nagigationGuildsList {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: .6rem;
  margin-bottom: .6rem;
}

.navigationElement {
  display: flex;
  flex-direction: row;

  height: 50px;
  width: 50px;

  position: relative;
}

.navigationElementHovered {
  display: flex;
  flex-direction: row;

  height: 50px;
  width: 50px;

  position: relative;
}

.navigationElementHovered * {
  transition: .25s ease all;
}

.navigationElementHovered div {
  border-radius: 30%;

  width: 50px;
  height: 50px;
  overflow: hidden;
}

.navigationElementHovered span {
  height: 22px;
  top: 12px;

  width: 10px;
  border-radius: 4px;

  background-color: #fff;
  position: absolute;

  left: -35%;
}

.navigationElement * {
  transition: .25s ease all;
}

.navigationElement span {
  height: 22px;
  top: 12px;

  width: 10px;
  border-radius: 4px;

  background-color: #fff;
  position: absolute;

  left: -50% !important;
}

.navigationElementHovered:hover, .navigationElementActive:hover {
  cursor: pointer;
}

.navigationElementActive {
  display: flex;
  flex-direction: row;

  height: 50px;
  width: 50px;

  position: relative;
}

.navigationElementActive * {
  transition: .25s ease all;
}

.navigationElementActive div {
  border-radius: 30%;

  width: 50px;
  height: 50px;
  overflow: hidden;
}

.navigationElementActive span {
  height: 90%;
  top: 2px;

  width: 10px;
  border-radius: 4px;

  background-color: #fff;
  position: absolute;

  left: -35%;
}

.navigationElement div {
  border-radius: 50%;

  width: 50px;
  height: 50px;
  overflow: hidden;
}

.navigationSideBar div img {
  object-fit: contain;
  height: 50px;
  width: 50px;
}

.navigationSideBar hr {
  width: 50%;
  border-radius: 5px;

  background-color: var(--background-primary);
  border: none;
  height: 2px;
}

.navigationSideBarHome {
  background-color: var(--background-accent);
  color: var(--text-normal);

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  overflow: hidden;
}

.navigationSideBarHomeActive {
  background-color: var(--color-primary);
  color: var(--text-normal);

  display: flex;
  align-items: center;
  justify-content: center;
}

.navigationSideBarHomeActive h1 {
  font-family: "Public Sans";

  user-select: none;
}

.navigationSideBarHome h1 {
  font-family: "Public Sans";

  user-select: none;
}

.pill {
  height: 18px;
  width: 10px;
  border-radius: 4px;

  background-color: #fff;
  position: absolute;

  top: 15px;
  left: -35%;
}

.pillInactive {
  left: -50%;
}

.sideBar {
  flex-direction: column;

  min-height: 0;
  width: 240px;

  flex: 0 0 auto;
  background: var(--background-secondary);

  height: 100%;
}

.base {
  display: flex;
  flex-direction: row;
  position: relative;
  flex-grow: 1;

  overflow: hidden;
  width: 100%;

  flex: 1;
  background-color: var(--background-primary);
}

.sideBarContainer {
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.searchMenu {
  background-color: var(--background-secondary);
  height: 48px;

  user-select: none;
}

.serverMenu {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  background-color: var(--background-secondary);
  box-shadow: var(--guild-header-text-shadow);
  height: 48px;
  user-select: none;
  padding: 1rem;
}

.serverMenu h1 {
  color: var(--text-normal);
  font-size: 1.2rem;
}

.serverMenu svg {
  color: var(--text-normal);
  stroke: var(--text-normal);
}

.searchMenuParent {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.bannerBar {
  background-color: var(--background-primary);
  box-shadow: var(--elevation-low);
  height: 42px;

  display: flex;
  flex-direction: row;

  align-items: center;

  gap: .3rem;
  padding: 0 8px !important;

  user-select: none;
}

.bannerBar div {
  display: flex;
  flex-direction: row;

  align-items: center;

  gap: .3rem;
  padding: 0 8px !important;
}

.bannerBar svg {
  margin: 0 8px;
}

.bannerBar h2 {
  font-family: "Public Sans";
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--header-primary);
}

.scroll {
  height: auto;
  flex: 1;

  padding: 10px 10px;

  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.DMscroll {
  height: auto;
  flex: 1;

  display: flex;
  flex-direction: column;

  gap: 2px;
}

.directMessageDivider {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  margin: 0;
  color: var(--text-muted);
}

.directMessageDivider * {
  margin: 0;
}

.directMessageDivider h4 {
  font-weight: 600;
  font-size: .8rem;
}

.container {
  width: 100%;
  overflow: hidden;
  flex-direction: column;

  background-color: var(--background-primary);
}

.container > div:first-of-type {
  position: relative;
  display: flex;

  align-items: center;

  min-width: 0;
  width: 100%;
  flex: 0 0 auto;

  height: 48px;
  padding: 0 8px;
  font-size: 16px;
  line-height: 20px;

  cursor: default;
  z-index: 2;
  color: var(--text-normal);
}

.button {
  padding: .5rem 2rem;
  border-radius: 5px;

  border: none;
  font-weight: 500;

  color: #fff;
  background-color: var(--color-primary);

  position: relative;
  display: flex;

  justify-content: center;
  align-items: center;

  border-radius: 3px;
  font-size: .9rem;

  width: 100%;

  height: 44px;
  min-width: 130px;
  min-height: 44px;

  font-family: "Whitney";
}

.button svg {
  color: #fff;
}

.hoverButton {
  background-color: rgba(var(--color-primary-rgb), 0.6);
  cursor: pointer;
}

.buttonDisabled {
  background-color: var(--deprecated-text-input-border-disabled);
  color: var(--text-muted);
}


.input {
  font-size: 1rem;

  box-sizing: border-box;
  width: 100%;
  border-radius: 3px;
  color: var(--text-normal);

  background-color: var(--deprecated-text-input-bg);
  border: 1px solid var(--deprecated-text-input-border);

  transition: border-color .2s ease-in-out;
  padding: 10px;
  height: 40px;

  font-family: "Whitney" !important;
  font-weight: 300;
}

.input:focus {
  outline: none;
  border: 1px solid var(--color-primary);
  background-color: var(--background-floating) !important;
}

.inputModule h4 {
  color: var(--channels-default);
  margin-bottom: 8px;

  font-size: .68rem;
  line-height: 16px;

  font-weight: 600;
  text-transform: uppercase;

  user-select: none;
}

.inputActive {
  border-color: var(--deprecated-text-input-border);
  background-color: var(--deprecated-text-input-bg);
}

.panels {
  height: 52px;

  font-size: 14px;
  font-weight: 500;

  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5px;

  padding: 0 8px;
  margin-bottom: 1px;
  color: var(--text-normal);

  background-color: var(--background-secondary-alt);
}

.panels img {
  height: 25px;
  width: 25px;

  border-radius: 50%;
}

.authAid {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  justify-content: space-evenly;

  flex: 1;
}

.authAid h2 {
  font-weight: 600;
  font-size: .85rem;

  color: var(--text-normal);
}

.authAid p {
  font-weight: 400;
  font-size: .8rem;

  color: var(--text-muted);
}

.authAid * {
  margin: 0;
}

.authIcons {
  display: flex;
  flex-direction: row;
}

.authIcons div {
  height: 32px;
  width: 32px;

  border-radius: 5px;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;
}

.authIcons div:hover {
  background-color: var(--background-primary);
  cursor: pointer;
}

.search {
  padding: 0 10px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: var(--elevation-low);
}

.search div {
  height: 28px;
  width: 100%;

  background-color: var(--background-floating);
  color: var(--text-muted);

  text-align: left;
  text-overflow: ellipsis;

  font-size: .85rem;
  font-weight: 500;
  line-height: 24px;

  white-space: nowrap;
  
  padding: .4rem .6rem;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.menuSwitcher {
  display: flex;
  flex-direction: row;

  align-items: center;
  background-color: transparent;

  gap: 1rem;
  font-size: 1rem;

  font-weight: 400;
  color: var(--text-normal);

  padding: .7rem 1rem;
  border-radius: 5px;
}

.menuSwitcher:hover {
  cursor: pointer;
  background-color: var(--background-modifier-hover);
}

.menuSwitcherActive {
  display: flex;
  flex-direction: row;

  align-items: center;
  background-color: transparent;

  gap: 1rem;
  font-size: 1rem;

  font-weight: 400;
  color: var(--text-normal);

  padding: .7rem 1rem;
  border-radius: 5px;

  background-color: var(--background-modifier-selected);
}

.menuSwitcher h3 {
  font-weight: 600;
  font-size: 1rem;
  margin: 0;
}

.menuSwitcherActive h3 {
  font-weight: 600;
  font-size: 1rem;
  margin: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  height: 100%;
  width: 100%;

  z-index: 9999;

  background-color: rgba(8, 8, 8, 0.753);

  display: flex;
  flex-direction: row;

  justify-content: space-evenly;
  align-items: center;
}

.box {
  width: auto;

  background-color: var(--background-secondary);

  border-radius: 5px;
  padding: 2rem;

  font-family: "Whitney";
  box-shadow: 2px 4px 8px var(--guild-header-text-shadow);
}

.imageDrop {
  height: 90px;
  width: 90px;

  border-radius: 50%;
  fill: #fff;

  display: flex;
  border: 2px dashed rgba(255, 255, 255, 0.5);

  justify-content: center;
  align-items: center;
}

.createServerImage {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  position: relative;
}

.imageDrop:hover {
  cursor: pointer;
  border: 2px solid rgba(var(--color-primary-rgb), 0.8);
  background-color: rgba(var(--color-primary-rgb), 0.1);
}

.itemUploading {
  height: 90px;
  width: 90px;

  border-radius: 50%;
  fill: #fff;

  display: flex;
  border: 2px dashed rgba(255, 255, 255, 0.5);

  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 2px solid rgba(var(--color-primary-rgb), 0.8);
  background-color: rgba(var(--color-primary-rgb), 0.1);
}

.createServerImage > svg {
  position: absolute;

  top: -5%;
  right: -5%;

  background-color: var(--color-primary);
  border-radius: 50%;
  padding: 5px;

  z-index: 2;
}

.createServerImage img {
  border-radius: 50%;

  object-fit: cover;
  height: 100%;
  width: 100%;

  z-index: 1;
}

.createServerImageIMAGE {
  overflow: none;
  position: relative;

  height: 90px;
  width: 85px;
}

.createServerImage > div svg {
  color: #fff;

  background-color: transparent;
  position: relative;
}

.createServerImage div {
  align-items: center;
  justify-content: center;
  display: flex;
}

.createServerImage h3 {
  color: var(--text-normal);
  font-size: .8rem;

  margin: 2px;
  text-align: center;
}

.serverIconInputHolder {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.serverIcon {
  border-radius: 50%;
}